@import "reset";

*::selection{
  background-color: #5fdaff;
  color: #fff;
} 

*::-moz-selection {
  background-color: #5fdaff;
}


@media screen and (min-width: 540px){

body{
  background-color: #000;
  min-height: 660px;
  position: relative;
}

#gg{position: relative; display: none;}


#cover{display: none; position: absolute; top: 0px; left:0px; z-index: 99; background-color: rgba(1,15,255,1); width: 100%; height: 100%; animation: coverani 1s ease forwards;}
      @keyframes coverani{ 100%{width: 0%;}}
      @-moz-keyframes coverani{ 100%{width: 0%;}}
      @-webkit-keyframes coverani{ 100%{width: 0%;}}

.main{
	background-image:url(../img/bg.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	.header{
		font-size: 12px;
		line-height: 1.6;
		color: #fff;
		letter-spacing: 0.05em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
		position: absolute;
		top:10px;
		right: 10px;

		    .bold{
		    	font-weight: bold;
		    	margin-left: 5px;
		    }

	}

    .message{
		font-size: 28px;
		line-height: 1.6;
		padding: 60px 10%;
		margin-left:-52px; 
		color: #fff;
		letter-spacing: 0.05em;
		font-family: "Yu Gothic", YuGothic,  sans-serif;
		font-weight: bold;

			p:before{
				content: "\1F44B";
				font-size: 42px;
				line-height: 1.6;
				padding-right: 5px;
		}

		
	}
}

.skill{
	margin: 40px 10% 0 10%;

	.h2-title{
		font-size: 12px;
		line-height: 1.6;
		color: #fff;
		letter-spacing: 0.05em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
	}

	.skill-list{
		margin-top: 14px;

		li{
			list-style: none;
			font-size: 24px;
			line-height: 1.6;
			color: #fff;
			letter-spacing: 0.05em;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-weight: normal;
			font-style: italic;
			display: inline-block;
        }
        
        li :after{
				content: "/";
				margin: 0 5px;
		}

		a{
			color: #fff;
			background-color: rgba(255,245,0,0);
			padding: 0px 0px;
			transition-timing-function: cubic-bezier(0, 0, 0.50, 2.55);
			transition-property: background-color padding;
			transition-duration:0.1s;
			transition-delay:0.1s;

		}

		a:hover{

			background-color: rgba(255,245,0,0.5);
			padding: 5px 5px;
		}


	}
	
}

.works{
	margin: 50px 10% 0 10%;

	.h2-title{
		font-size: 12px;
		line-height: 1.6;
		color: #fff;
		letter-spacing: 0.05em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
	}

	.works-list{
		margin-top: 14px;

		li{
			list-style: none;
			font-size: 32px;
			line-height: 1.6;
			color: #fff;
			letter-spacing: 0.05em;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-weight: normal;
			font-style: italic;
			display: inline-block;
        }
        
        li :after{
				content: "/";
				margin: 0 5px;
		}

		a{
			color: #fff;
			background-color: rgba(255,245,0,0);
			padding: 0px 0px;
			transition-timing-function: cubic-bezier(0, 0, 0.50, 2.55);
			transition-property: background-color padding;
			transition-duration:0.1s;
			transition-delay:0.1s;

		}

		a:hover{

			background-color: rgba(255,245,0,0.5);
			padding: 5px 5px;
		}

	}
	
}


.contact a{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 80px;
	color: rgba(100,200,240,1);
	background-color: rgba(225,235,245,1);
	text-align: center;
	text-decoration: none;
	line-height: 1.6;
	padding-top: 20px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	transition-timing-function: cubic-bezier(0, 0, 0, 2.22);
	transition-property: height background-color ;
    transition-duration:0.1s;
    transition-delay:0.1s;
}


.contact a:hover{
	height: 90px;
	background-color: rgba(255,255,255,1);
}

.displayNon{
	display: none;
}

}




@media screen and (max-width: 539px){

body{
  background-color: #000;
  min-height: 660px;
  position: relative;
}

#gg{position: relative; display: none;}


#cover{display: none; position: absolute; top: 0px; left:0px; z-index: 99; background-color: rgba(1,15,255,1); width: 100%; height: 100%; animation: coverani 1s ease forwards;}
      @keyframes coverani{ 100%{width: 0%;}}
      @-moz-keyframes coverani{ 100%{width: 0%;}}
      @-webkit-keyframes coverani{ 100%{width: 0%;}}


.main{
	background-image:url(../img/bg_sp.jpg);
	background-position: center center;
	background-size: cover;
	width: 100%;

	.header{
		font-size: 12px;
		line-height: 1.6;
		color: #fff;
		letter-spacing: 0.05em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
		position: absolute;
		top:10px;
		left: 7%;

		    .bold{
		    	font-weight: bold;
		    	margin-left: 5px;
		    }

	}

    .message{
		font-size: 32px;
		line-height: 1.6;
		padding: 70px 10% 40px;
		margin-left:-20px; 
		color: #fff;
		letter-spacing: 0.05em;
		font-family: "Yu Gothic", YuGothic,  sans-serif;
		font-weight: bold;

			p:before{
				content: "\1F44B";
				font-size: 42px;
				line-height: 1;
				padding-right: 5px;
		}
	}
}

.skill{
	margin: 0px 7% 0 7%;

	.h2-title{
		font-size: 12px;
		line-height: 1.6;
		color: #fff;
		letter-spacing: 0.05em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
	}

	.skill-list{
		margin-top: 14px;

		li{
			list-style: none;
			font-size: 20px;
			line-height: 1.6;
			color: #fff;
			letter-spacing: 0.05em;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-weight: normal;
			font-style: italic;
			display: inline-block;
        }
        
        li :after{
				content: "/";
				margin: 0 5px;
		}

		a{
			color: #fff;
			background-color: rgba(255,245,0,0);
			padding: 0px 0px;
			transition-timing-function: cubic-bezier(0, 0, 0.50, 2.55);
			transition-property: background-color padding;
			transition-duration:0.1s;
			transition-delay:0.1s;

		}

		a:hover{

			background-color: rgba(255,245,0,0.5);
			padding: 5px 5px;
		}


	}
	
}

.works{
	margin: 50px 7% 0px 7%;
	padding: 0 0 70px 0;

	.h2-title{
		font-size: 12px;
		line-height: 1.6;
		color: #fff;
		letter-spacing: 0.05em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		font-style: italic;
	}

	.works-list{
		margin-top: 14px;

		li{
			list-style: none;
			font-size: 24px;
			line-height: 2;
			color: #fff;
			letter-spacing: 0.05em;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			font-weight: normal;
			font-style: italic;
			display: inline-block;
        }
        
        li :after{
				content: "/";
				margin: 0 5px;
		}

		a{
			color: #fff;
			background-color: rgba(255,245,0,0);
			padding: 0px 0px;
			transition-timing-function: cubic-bezier(0, 0, 0.50, 2.55);
			transition-property: background-color padding;
			transition-duration:0.1s;
			transition-delay:0.1s;

		}

		a:hover{

			background-color: rgba(255,245,0,0.5);
			padding: 5px 5px;
		}

	}
	
.displayNon{
	display: block;
}

}



.contact a{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	color: rgba(100,200,240,1);
	background-color: rgba(225,235,245,1);
	text-align: center;
	text-decoration: none;
	line-height: 1.6;
	padding-top: 7px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	transition-timing-function: cubic-bezier(0, 0, 0, 2.22);
	transition-property: height background-color ;
    transition-duration:0.1s;
    transition-delay:0.1s;
}

}



